.photoPost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.file {
  margin-bottom: 1rem;
}

.preview {
  border-radius: 1rem;
  background-size: cover;
  /* The line below has? the same effect as .preview::after  */
  /* height: 100%; */
  background-position: center center;
}

.preview::after {
  content: "";
  display: block;
  height: none;
  padding-bottom: 100%;
}
